# Python
venv/
__pycache__/
*.pyc
.env
.pytest_cache/

# Node
node_modules/
dist/
build/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets / keys
*.pem

# OS
.DS_Store
